
main {
    background-image: url(../img/Imagenes_Integrador/bglog.jpg);
}




.form__container {
    /* border: 2px solid lawngreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    outline: 8px ridge #aa32dc99; 
  }
  
  .form__input {
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    background-color:#e5a6e3;
    color:#3a013a;
    outline: 8px ridge #aa32dc99;    
    border-radius: 10px;;
    border: none;
  }